@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.popup {
    position: fixed;
    top: 0;
    left: 0;
    @include size(100vw, 100vh);
    background: rgba(0, 0, 0, 0.90);
    display: flex;
    align-items: center;
    opacity: 0;
    z-index: 999;
    pointer-events: none;
    transition: opacity .4s ease;

    @include sm {
        height: 100dvh;
        background-color: var(--cl-bg);
    }

    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    .container {
        @include sm {
            height: 100%;
            max-height: 100%;
        }
    }

    &-letter {
        position: relative;
        max-height: 87vh;
        background-color: var(--cl-bg);
        padding-top: var(--padding-block);
        padding-bottom: var(--padding-block);
        width: 79.4rem;
        padding: max(8vh, 9.4rem);
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @include md {
            display: flex;
            max-height: calc(100vh - 4rem * 2);
            width: 100%;
            padding: max(8vh, 6.4rem);
        }

        @include sm {
            height: 100%;
            padding: 0;
            align-items: center;
            justify-content: center;
        }

        &-inner {
            grid-column: 2/8;
            overflow-y: scroll;
            @include custom-scroll(.5rem, transparent, var(--cl-orange));
        }

        &-img {
            width: auto;
            height: 100%;

            img {

                object-fit: contain;
            }
        }

        &-btn {
            position: absolute;
            padding: 1rem;
            top: 3rem;
            right: 3rem;
            transition: color .4s ease;

            @include md {
                top: 1rem;
                right: 1rem;
            }

            @include sm {
                z-index: 10;
                top: .6rem;
                right: -1rem;
            }

            svg {
                @include md {
                    @include size(3rem);
                }
            }

            @media (hover: hover) {
                &:hover {
                    color: var(--cl-orange);
                }
            }
        }
    }
}