@use '@styles/mixins' as *;
@use '@styles/colors' as *;


.complian-proce {
    position: relative;
    padding-top: 17.3rem;

    @include md {
        padding-top: 6rem;
    }

    &-line {
        position: absolute;
        top: 0;
    }

    &-label {
        grid-column: 1/9;
        max-width: 78rem;
        margin-bottom: 2rem;

        @include md {
            grid-column: 1/10;
            margin-bottom: 1rem;
            @include text(h5);
        }

        @include sm {
            grid-column: 1/-1;
            margin-bottom: .8rem;
            @include text(16);
        }
    }

    &-title {
        grid-column: 1/9;
        max-width: 78rem;

        @include md {
            grid-column: 1/10;
            margin-bottom: 4rem;
        }

        @include sm {
            grid-column: 1/-1;
            margin-bottom: 2rem;
            @include text(h2);
        }
    }

    &-sub-wrap {
        align-self: end;
        grid-column: 12/-1;

        @include md {
            grid-column: 6/-1;
        }

        @include sm {
            grid-column: 1/-1;
        }
    }

    &-sub {
        width: 100%;
        margin-bottom: 4rem;

        @include md {
            margin-bottom: 2rem;
            @include text(16);
        }
    }

    &-link {
        display: flex;
        column-gap: .8rem;
        align-items: center;
        transition: color .4s ease;

        @media (hover:hover) {
            &:hover {
                color: var(--cl-orange);
            }
        }
    }

    &-main {
        grid-column: 1/-1;
        margin-top: 10rem;
        position: relative;

        @include md {
            margin-top: 6rem;
        }

        @include sm {
            margin-top: 4rem;
        }

        &-item {
            --height-overlap: 10rem;
            --top-distance: 14rem;

            background-color: var(--cl-bg);
            position: sticky;
            top: calc(var(--top-distance) + var(--height-overlap) * var(--idx));
            padding-bottom: calc(var(--height-overlap) * var(--pd-bot));
            margin-top: calc(var(--height-overlap) * var(--mg-top) * -1);

            @include md {
                --height-overlap: 14rem;
                --top-distance: 4rem;
            }

            @include sm {
                position: relative;
                top: auto;
                padding-bottom: 0;
                margin-top: 0;
                background-color: transparent;
                padding-right: 2rem;
            }

            &-inner {
                padding-top: 6rem;
                padding-bottom: 6rem;
                display: flex;
                align-items: start;
                justify-content: space-between;
                column-gap: 4rem;
                height: 39rem;

                @include md {
                    height: 37rem;
                }

                @include sm {
                    padding-top: 4rem;
                    padding-bottom: unset;
                    height: unset;
                    flex-direction: column;
                    row-gap: 4rem;
                }
            }

            line-top {
                position: absolute;
                top: 0;
                left: 0;
            }

            .line {
                position: absolute;
                left: 0;
                transform-origin: left;

                &-top {
                    top: 0;
                }

                &-bot {
                    bottom: 0;
                }
            }

            &-content {
                @include sm {
                    order: 2;
                }
            }

            &-title {
                display: flex;
                align-items: start;
                column-gap: 4rem;
                margin-bottom: 4rem;
                max-width: 136rem;

                @include md {
                    column-gap: 2.8rem;
                }

                @include sm {
                    margin-bottom: 2.4rem
                }

                &-txt {
                    @include md {
                        @include text(h3);
                    }
                }

                &-dot {
                    margin-top: 2rem;
                    @include size(2.8rem);
                    border-radius: 50%;
                    flex: none;
                    background-color: var(--cl-txt);

                    @include md {
                        @include size(2rem);
                        margin-top: .9rem;
                    }

                    @include sm {
                        display: none;
                    }
                }
            }

            &-sub {
                margin-left: 6.8rem;
                max-width: 71rem;

                @include md {
                    margin-left: 4.8rem;
                    max-width: 45rem;
                    @include text(16);
                }

                @include sm {
                    margin-left: 0;
                    margin-bottom: 2.4rem;
                }
            }

            &-img {
                flex: none;
                overflow: hidden;
                @include size(16rem);

                @include md {
                    @include size(10rem);
                }

                .ic {
                    @include size(100%);
                }

                img {
                    width: 100%;
                    height: 100%;
                    // @include sm {
                    //     object-fit: cover;
                    //     width: 100% !important;
                    //     height: auto !important;
                    // }
                }
            }
        }
    }
}