@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.pak-partner {
    padding-block: 16rem 16rem;
    position: relative;

    @include md {
        padding-block: 8rem;
    }

    .container {
        @include md {
            grid-template-rows: auto auto;
        }
    }

    .line {
        position: absolute;
        top: 0;
        left: 6rem;
        right: 6rem;
        width: auto;

        @include md {
            left: 4rem;
            right: 4rem;
        }

        @include sm {
            left: 2rem;
            right: 2rem;
        }
    }

    &-title-wrap {
        grid-column: 1/7;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        @include md {
            grid-column: 1/-1;
            grid-row: 1/2;
            margin-bottom: 4rem;
        }

        @include sm {
            grid-column: 1/-1;
            grid-row: 1/2;
        }
    }

    &-label {
        margin-bottom: 2rem;

        @include md {
            @include text(h5);
            margin-bottom: 1.2rem;
        }
    }

    &-title {
        @include md {
            @include text(h1);
        }

        @include sm {
            @include text(h2);
        }
    }

    &-img-wrap {
        position: relative;
        grid-column: 8/12;
        height: 56rem;
        overflow: hidden;

        @include md {
            grid-column: 1/5;
            grid-row: 2/3;
            height: 100%;
            // max-height: 38rem;
        }

        @include sm {
            grid-column: 1/-1;
            grid-row: 2/3;
        }

        img {
            position: absolute;
            height: 100%;
            width: fit-content;
            object-fit: contain;
            right: -4rem;

            @include md {
                right: 0;
            }

            @include sm {
                position: static;
                width: 100%;
                height: 26rem;
                object-fit: cover;
            }
        }
    }

    &-sub-wrap {
        grid-column: 13/17;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;

        @include md {
            grid-column: 6/-1;
            grid-row: 2/3;
            justify-content: start;
        }

        @include sm {
            margin-top: 4rem;
            grid-column: 1/-1;
            grid-row: 3/4;
        }
    }

    &-sub {
        @include md {
            @include text(16);
        }
    }

    &-sub-rictxt {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        row-gap: 2.4rem;

        @include md {
            margin-bottom: 3.2rem;
            row-gap: 2rem;
        }

        @include sm {
            row-gap: 2.4rem;
        }
    }

    &-link {
        display: flex;
        align-items: center;
        column-gap: .8rem;
        &.hidden {
            display: none;
        }
    }
}