@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.sustainable-practice {
    &-wrap {
        padding-top: 15rem;
        padding-bottom: 12.6rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 4rem 0;
        text-align: center;
        max-width: 92rem;
        margin: 0 auto;
        @include md {
            padding-top: 11rem;
            padding-bottom: 10rem;

            max-width: unset;
        }
        @include sm {
            gap: 3.2rem 0;

            padding-block: 6rem;
        }
    }
    &-title {
        @include md {
            @include text(h1);
            max-width: 50rem;
        }
        @include sm {
            @include text(h2);
            max-width: 40rem;
        }
        @include xs {
            @include text(h3);
            max-width: 30rem;
        }
    }
    &-link {
        display: flex;
        column-gap: .8rem;
        align-items: center;
        transition: color .4s ease;

        @include sm {
            @include text(18);
        }

        svg {
            @include size(1.6rem);
        }

        @media (hover: hover) {
            &:hover {
                color: var(--cl-orange);
            }
        }
    }
    &-listing {
        grid-column: 2/-2;
        display: flex;
        flex-direction: column;
        gap: 8rem 0;
        padding-bottom: 20rem;
        @include md {
            grid-column: 1/-1;

            padding-bottom: 10rem;
        }
        @include sm {
            gap: 3.2rem 0;
            padding-bottom: 18.5rem;
        }
    }
    &-item {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 4rem 0;

        width: calc(50% - 10rem);
        @include md {
            gap: 3.2rem 0;

            width: calc(50% - .8rem);
        }
        @include sm {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            width: 100%;
        }

        &:nth-child(even) {
            align-self: end;
        }
        &:nth-child(odd) {
            align-self: start;
        }
        &-title {
            @include md {
                @include text(h2);
            }
            @include sm {
                grid-column: 1/2;
                grid-row: 1/2;

                @include text(h4);
            }
        }
        &-desc {
            @include sm {
                grid-column: span 2;
            }
        }
        &-ic {
            display: flex;
            align-items: center;
            gap: 0 2rem;
            > * {
                @include size(8rem);
                @include sm {
                    gap: 0 .8rem;
                    @include size(6rem);
                }
            }
            @include sm {
                grid-column: 2/3;
                grid-row: 1/2;
                justify-self: end;
            }
        }

        .line.line-bot {
            display: none;
            @include sm {
                display: block;
                grid-column: span 2;
            }
        }
    }
}