@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.pak-hero {
    padding-top: 26.6rem;
    contain: paint;

    @include md {
        padding-top: 17.9rem;
    }

    @include sm {
        padding-top: 15.4rem;
    }

    &-title {
        grid-column: 1/8;
        margin-right: -3rem;

        @include md {
            grid-column: 1/-1;
            max-width: 66.5rem;
            margin-bottom: 4rem;
        }

        @include sm {
            grid-column: 1/-1;
            @include text(h1);
        }
    }

    &-sub-wrap {

    }

    &-sub {
        grid-column: 1/7;
        max-width: 59rem;
        margin-top: 3.6rem;
        p:not(:last-child) {
            margin-bottom: 2.4rem;
        }
        .txt-bold {
            display: inline;
        }

        @include md {
            margin-right: -1.9rem;
            margin-top: 0;
            @include text(16);
        }

        @include sm {
            grid-column: 1/-1;
            grid-row: 3/4;
            margin-right: unset;
        }
    }

    &-brc {
        grid-column: 1/7;
        margin-top: 3.2rem;
        display: flex;
        align-items: center;
        column-gap: 3.2rem;
        align-self: start;
        &-img {
            width: 8rem;
            flex: none;
        }
        &-txt {
            max-width: 40rem;
        }
        @include md {
            margin-top: 2.4rem;
            column-gap: 2.4rem;
            &-img {
                width: 6rem;
            }
            &-txt {
                @include text(18);
            }
        }

        @include sm {
            grid-column: 1/-1;
            margin-top: 2.4rem;
            column-gap: 1.6rem;
            &-img {
                width: 8rem;
            }
        }
    }

    &-img-wrap {
        grid-column: 9/17;
        grid-row: 1/4;
        background-color: var(--cl-bg);
        min-height: 89.9rem;

        @include md {
            grid-column: 8/13;
            grid-row: 2/4;
            height: 100%;
            min-height: unset;
        }

        @include sm {
            grid-column: 1/5;
            grid-row: 2/3;
            min-height: 0;
            padding-bottom: 4rem;
            height: 25.5rem;
            // margin-bottom: 4rem;
        }

        img {
            mix-blend-mode: multiply;
        }
    }
}