@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.sustainable-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14.7rem;
    padding-bottom: 15rem;
    position: relative;
    z-index: 6;
    @include md {
        padding-top: 13.5rem;
        padding-bottom: 11rem;
    }
    @include sm {
        padding-block: 6rem;
    }
    &-content {
        text-align: center;
        max-width: 121rem;
        margin: 0 auto;
        @include md {
            max-width: unset;
        }
        @include sm {
            @include text(h5);
        }
        @include xs {
            @include text(h6);
        }
    }
}