@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.popup {
    background-color: rgba(0, 0, 0, .9);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    left: 0;
    max-height: 100vh;
    opacity: 0;
    padding: 6.5vh 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .35s ease-out;
    width: 100%;
    z-index: 100;

    @include sm {
        height: 100dvh;
        padding: 0;
    }

    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    .container {
        display: flex;
        align-items: center;
        height: 100%;
        @include sm {
            padding: 0;
        }
    }

    &-itemdtl {
        --padding-2side: 6rem;

        position: relative;
        grid-column: 2/16;
        background-color: var(--cl-bg);
        opacity: 1;
        height: 100%;
        width: 140.4rem;
        margin: 0 auto;

        @include md {
            grid-column: 1/-1;
        }

        @include sm {
            width: unset;
            height: 100%;
            width: 100%;
        }

        &-wrap {
            height: 100%;

            @include sm {
                
                height: 100%;
                // margin-right: calc(var(--container-padding) * -1);
            }

            &-inner {
                display: grid;
                grid-template-columns: repeat(14, 1fr);
                column-gap: var(--grid-gap);
                height: 100%;
                @media (max-height: 650px) {
                    padding: 10dvh 0;
                }
                @media (min-height: 650px) {
                    padding: 7.9rem 0;
                }

                @include md {
                    padding: 5rem 0;
                    grid-template-columns: repeat(12, 1fr);
                }

                @include sm {
                    display: block;
                    padding-top: calc(2rem + 6.5vh);
                    height: 100%;
                    max-height: unset;
                    overflow-y: auto;
                    padding-inline: var(--container-padding);
                }
            }
        }

        &.active {
            opacity: 1;
        }

        &-title {
            display: none;

            @include sm {
                display: block;
                width: 100%;
                margin-bottom: 4rem;
                text-align: center;
            }
        }

        &-btn {
            position: absolute;
            padding: 1rem;
            top: 3rem;
            right: 3rem;
            transition: color .4s ease;
            
            @media (max-height: 650px) {
                top: 5vh;
                right: 5vh;
            }
            @media (min-height: 650px) {
                top: 3rem;
                right: 3rem;
            }
            svg {
                @media (max-height: 650px) {
                    @include size(8vh);
                }
                @media (min-height: 650px) {
                    @include size(4rem);
                }
            }

            @include md {
                top: 1rem;
                right: 1rem;
            }

            @include sm {
                z-index: 10;
                top: 0;
                right: 0;
            }

            @media (hover: hover) {
                &:hover {
                    color: var(--cl-orange);
                }
            }
        }

        &-card {
            grid-column: 2 / 6;
            margin-left: calc(var(--grid-gap)* -1);
            align-self: center;
            display: flex;
            height: 100%;
            overflow: hidden;
            flex-direction: column;

            @include md {
                align-self: start;
                grid-column: 2/6;
                margin-left: calc(-1 * var(--grid-gap) - .8rem);
                margin-right: 2.5rem;
                height: auto;
            }

            @include sm {
                margin: unset;
                margin-bottom: 4rem;
                width: 80%;
                margin-inline: auto;
            }

            &-img {
                display: grid;
                grid-template-columns: 1fr;
                align-items: center;
                justify-content: center;
                @include size(100%);
                max-height: 46.9rem;
                flex: 1;
                cursor: grab;
                overflow: hidden;
                border: 0.2rem solid var(--cl-txt);
                align-content: center;
                // @include md {
                //     aspect-ratio: 0.7894736842;
                // }

                // @include sm {
                //     aspect-ratio: 1.2077464789;
                // }
                @include sm {
                    // max-height: none;
                    align-content: start;
                }

                &-inner {
                    grid-area: 1/1/2/2;
                    padding: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    @include size(100%);
                    transform: scale(1.1);
                    pointer-events: none;
                    user-select: none;
                    transition: opacity 0.4s ease-in-out, transform 1.333s linear(0, 0.009, 0.035 2.1%, 0.141 4.4%, 0.723 12.9%, 0.938, 1.077 20.4%, 1.121,
                            1.149 24.3%, 1.163 27%, 1.154 29.9%, 1.017 43.1%, 0.991, 0.977 51%,
                            0.975 57.1%, 1.003 76.9%, 1);

                    &.active {
                        opacity: 1;
                        transform: scale(1);
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                .keen-slider__slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: none;
                    padding: 2rem;
                }
            }

            &-bottom {
                display: flex;
                justify-content: space-between;
                border: 0.2rem solid var(--cl-txt);
                border-top: none;
            }

            &-pagi {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: center;
                column-gap: .6rem;
                transition: all 0.4s ease-in-out;

                &-btn {
                    @include size(.7rem);
                    background-color: var(--cl-txt);
                    border-radius: 100vmax;
                    transition: transform 0.45s ease-in-out;

                    @include md {
                        @include size(.7rem);
                    }

                    &.active {
                        background-color: var(--cl-orange);
                    }
                    &.medium {
                        transform: scale(.7142)
                    }
                    &.small {
                        transform: scale(.4285)
                    }
                }
            }

            &-nav {
                display: flex;

                &-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-left: .2rem solid var(--cl-txt);
                    @include size(5.6rem, 5.6rem);

                    &.prev {
                        .ic svg {
                            transform: rotate(180deg);
                        }
                    }

                    &.disable {
                        pointer-events: none;

                        .ic {
                            opacity: .2;
                        }
                    }
                }
            }
        }

        &-content {
            grid-column: 7/14;
            margin-left: calc(var(--grid-gap)* -1);
            margin-right: calc(var(--grid-gap)* -1);
            align-self: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: hidden;

            @include md {
                grid-column: 6/12;
                margin-left: unset;
                margin-right: calc(-1 * var(--grid-gap) - .8rem);
            }

            @include sm {
                margin-right: unset;
                height: fit-content;
                // height: calc(100% - 50rem);
                // padding-bottom: 5rem;
            }

            &-title {
                max-width: 69.4rem;
                @media (max-height: 650px) {
                    margin-top: 0;
                    margin-bottom: 2rem;
                    font-size: max(min(3.2rem, 1em), 8vh);
                }
                @media (min-height: 650px) {
                    margin-top: 4.2rem;
                    margin-bottom: 4rem;
                }
                @include md {
                    max-width: none;
                    margin-top: unset;
                    margin-right: .8rem;
                }

                @include sm {
                    display: none;
                }
            }
        }

        &-table {
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow: hidden;
            // height: 100%;
            border-bottom: .2rem solid var(--cl-txt);

            @include md {
                border-top: .2rem solid var(--cl-txt);
                border-bottom: .2rem solid var(--cl-txt);
            }

            @include sm {
                display: block;
                height: unset;
                border: none;
            }

            &-head,
            &-item-div {
                display: grid;
                max-width: 100%;
                grid-template-columns: 13.1% 9.5% 11.6% 16% 32.5% 1fr;
                column-gap: 1rem;
                border-bottom: .2rem solid var(--cl-txt);
            }

            &-head {
                padding-bottom: 1.6rem;

                @include md {
                    display: none;
                }
            }

            &-item-wrap {
                flex: 1;
                overflow-y: auto;
                @include custom-scroll(.5rem, transparent, var(--cl-orange));

                // @include md {
                //     margin-right: -.5rem;
                //     padding-right: .5rem;
                // }

                @include sm {
                    flex: 0;
                    overflow: visible;
                    padding-bottom: 5rem;
                }
            }

            &-item {
                display: block;
                width: 100%;
                text-align: left;
                transition: color .4s ease;
                &:hover {
                    color: var(--cl-orange);
                }
                &:first-child {
                    .popup-itemdtl-table-item-div {
                        @include sm {
                            border-top: .2rem solid var(--cl-txt);
                        }
                    }
                }

                &:last-child {
                    .popup-itemdtl-table-item-div {
                        border-bottom: none;

                        @include sm {
                            border-bottom: .2rem solid var(--cl-txt);
                        }
                    }
                }

                .popup-itemdtl-table-model {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: 4.8rem;
                    padding-left: .8rem;
                    padding-right: .8rem;

                    @include md {
                        padding: unset;
                    }

                    &-inner {
                        @include size(4.8rem);
                    }
                }

                &-div {
                    align-items: center;
                    padding-top: .8rem;
                    padding-bottom: .8rem;

                    @include md {
                        grid-template-columns: 3fr 7fr;
                        column-gap: unset;
                        padding: unset;
                    }

                    &.desktop {
                        @include md {
                            display: none;
                        }
                    }

                    &.tablet {
                        display: none;

                        @include md {
                            position: relative;
                            display: grid;

                            .div-left {
                                grid-column: 1/2;
                                grid-row: 1/2;
                                padding-top: 2.4rem;
                                padding-bottom: 2.4rem;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                row-gap: 2rem;
                                align-items: start;

                                .wrap {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: start;
                                    row-gap: .8rem;
                                }
                            }

                            .div-right {
                                grid-column: 2/3;
                                grid-row: 1/2;
                                padding-top: 2.4rem;
                                padding-bottom: 2.4rem;
                                padding-left: 2rem;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                row-gap: 1.2rem;
                                align-items: start;

                                .wrap {
                                    width: 100%;
                                    display: flex;
                                    column-gap: 1rem;
                                }
                            }

                            .head {
                                @include text(14);
                                flex-shrink: 0;
                            }

                            .body {
                                flex: 1;
                                text-align: end;
                            }

                            .popup-itemdtl-table-code {}

                            .popup-itemdtl-table-size {}

                            .popup-itemdtl-table-color {}

                            .popup-itemdtl-table-count {}

                            .popup-itemdtl-table-dtl {}

                            .popup-itemdtl-table-model {
                                display: flex;
                                align-items: start;
                                flex-direction: column;

                                &-inner {
                                    @include size(4.8rem)
                                }
                            }


                        }
                    }
                }

                .line {
                    display: none;

                    @include md {
                        &-top {
                            display: block;
                            position: absolute;
                            top: -.1rem;
                            left: 0;
                        }

                        &-mid {
                            display: block;
                            grid-column: 2/3;
                            grid-row: 1/-1;
                        }

                        &-bot {
                            display: block;
                            position: absolute;
                            bottom: -.1rem;
                            left: 0;
                        }
                    }
                }

                &:first-child {
                    @include md {
                        .line-top {
                            top: 0rem;
                        }
                    }
                }
            }
        }
    }
}